body {
	font-family: "font-1";
	background: url(bg1.jpg) no-repeat fixed left/cover;
	height: 100vh;
}

h1 {
	text-transform: uppercase;
	font-size: 2rem;
	color: black;
	text-align: center;
	font-style: bold;

}

main {
	background: gray;
	font-size: 24px;
	color: blue;
	width: 70vw;
	text-align: center;
	margin: 0 auto;
	
}

h2 {
	text-transform: uppercase;
	font-size: 24px;
	color: green;
	text-align: center;
}

ul {
	color: blue;
	text-align: center;
	font-size: 24px;
	color: blue;
	width: 10vw;
	margin: 0 auto;
	font-style: italic;
}

header {
	background-color:red;
	height:135px;
	top:0px;
	margin:0px;
}