body {
	font-family: "font-1";
	background: url(bg1.jpg) no-repeat fixed left/cover;
	height: 100vh;
}

h1 {
	text-transform: uppercase;
	font-size: 2rem;
	color: black;
	text-align: center;
	font-style: bold;
	font-family: 'Splash';

}

header {
	background-color:red;
	height:135px;
	top:0px;
	margin:0px;
}

main-head {
	background-color: red;
	color: white;
	
}

a {
	color: black;
	text-decoration: none;
}

nav {
	min-height: 10vh;
	display: flex;
	align-items: center;
	width: 90%;
	margin: 10px;
}

nav ul {
	display: flex;
	flex: 1 1 40rem;
	justify-content: space-around;
	align-items: center;
	list-style: none;
	font-size: 25px;
}

#logo {
	flex: 1 1 40rem;
}

div {
	align-items: center;
}

